[user]
	name = Wilson Silva
	email = wilson.dsigns@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = current
